In [1]:
import numpy as np
import pandas as pd

np.random.seed(42)

rows = 50

rent = np.random.randint(8000, 25000, rows)
commute = np.random.randint(10, 120, rows)

noise = np.random.normal(0, 1500, rows)

life_cost = rent + (commute * 30 * 10) + noise

df = pd.DataFrame({
    "rent": rent,
    "commute_minutes": commute,
    "life_cost": life_cost.astype(int)
})

df.head()

    rent  commute_minutes  life_cost
0  23795              102      53136
1   8860               72      29996
2  13390               27      21986
3  19964               99      51127
4  19284               53      34465

In [3]:
df.to_csv("../data/rent_commute_data.csv", index=False)